@model prjSocialMediaPlatform.Models.Post

@{
    ViewBag.Title = "發布貼文";
}

<style>
    .form-group.d-flex label {
        min-width: 100px;
        white-space: nowrap;
    }

    .form-group.d-flex input {
        flex-grow: 1;
    }

    hr {
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 30px;
    }
</style>

<h2>發布貼文</h2>

<hr />

<form asp-action="CreatePost" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group d-flex align-items-center mb-4">
        <label asp-for="Content">文章內容</label>
        <textarea name="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group d-flex align-items-center mb-4">
        <label asp-for="CoverImage">封面圖片</label>
        <input name="CoverImage" class="form-control" />
        <span asp-validation-for="CoverImage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-dark mt-3">發布</button>
    <p>@ViewBag.Message</p>
</form>
